.calculator {
  display: flex;
  gap: 20px;
}
.calculator__input {
  height: 50px;
  font-size: 30px;
}

.calculator__calculate {
  padding: 20px 30px;
  border-radius: 10px;
}

.calculator__input-validation-message {
  color: rgb(132, 4, 4);
}